<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.demo.mapper.CourseMapper">

    <insert id="addNewCourse" parameterType="com.cdut.demo.entity.Course" >
        insert into course(course_id,course_name)
        values (#{course_id},#{course_name})
        on DUPLICATE KEY update
        course_id=#{course_id},
        course_name=#{course_name}
    </insert>
    <select id="getCourseByName" resultMap="CMResult">
        select *
        from course
        where course_name like "%"#{course_name,jdbcType=VARCHAR}"%"
    </select>

    <resultMap id="CMResult" type="com.cdut.demo.entity.Course">
    </resultMap>
</mapper>