<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.demo.mapper.CourseTeacherMapper">

    <select id="getCourseByTeacherName" resultMap="CTMResult">
        select *
        from course a LEFT join teacher b
        on a.course_teacher_id=b.teacher_id
        where teacher_name like "%"#{teacher_name,jdbcType=VARCHAR}"%"
    </select>
    <resultMap id="CTMResult" type="com.cdut.demo.entity.CourseTeacher">
    </resultMap>
</mapper>